/* Standard CSS styler used across all documents */

:root {
  /* Color Definitions defined below */
  --Primary: #d0efb1;
  --Secondary: #476a6f;
  --Tertiary: #0a122a;
  --Highlight: #ee964b;
  --Hero: #fe64a3;
  --Tempwhite: #ffffff;
  --Tempblack: #000000;

  /* Fonts */
  --Fontcode: monospace;
  font-size: 24px;

  --PageRows: 55px 55px 1fr 50px;
}

h1,h2,h3,h4,h5,h6 {
    padding: 0px;
    margin: 0px;    
}

.container {
  position: fixed;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 220px 3fr 1fr;
  grid-template-rows: var(--PageRows);
  grid-template-areas:
    "sidebar header header"
    "sidebar section cards"
    "sidebar section cards"
    "sidebar . cards";
  background-color: var(--Primary);
}
.sidebar {
  padding: 10px;
  display: grid;
  grid-area: sidebar;
  grid-template-rows: var(--PageRows);
  background-color: var(--Secondary);
  font-variant: small-caps;
  color: var(--Primary);
  text-align: center;
}
.header {
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header h1 {
  margin: 10px 0px 0px 0px;
}

.nav {
  padding: 10px 0px;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(60px, 1fr));
  gap: 10px;
}
.btn {
  height: 50px;
  width: 100%;
  align-self: center;
  line-height: 50px;
  text-align: center;
  color: var(--Primary);
  border: 1px dashed var(--Primary);
  background-color: var(--Secondary);
}
.sub-btn {
  margin-left: 10%;
}
.active {
  background-color: var(--Tertiary);
  color: var(--Highlight);
  border-color: var(--Highlight);
}
.btn:hover {
  background-color: var(--Highlight);
  color: var(--Tertiary);
  border-color: var(--Tertiary);
}
.footer {
    font-size: 0.8em;
    text-align: center;
}
.fa {
    padding: 5px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    color: var(--Primary);
    background-color: var(--Tertiary);
    border-radius: 50%;
}
.fa:hover {
    background-color: var(--Primary);
    color: var(--Highlight);
}

.page_header {
    grid-area: header;
    width: 100%;
    height: 100%;
    background-color: var(--Secondary);
    color: var(--Highlight);
    text-align: center;
    font-size: 1.2em;
    text-decoration: underline solid 2px;
    line-height: 55px;
}
.page-content {
    grid-area: section;
    padding: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "image text";
    gap: 5%;
}
.content {
    border: solid 2px var(--Hero);
    padding: 2.5%;
    overflow-y: auto;
}
.content h1,h2,h3,h4,h5,h6 {
    color: var(--Highlight);
    text-decoration: underline solid 1px;
}
.content img {
  max-width: 80%;
  margin: 10%;
}
.image {
  grid-area: image;
}
.text {
  grid-area: text;
}
.under_construction {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10%;
    background: repeating-linear-gradient(
        45deg,
        rgba(255, 255, 0, 0.5) 0px,
        rgba(255, 255, 0, 0.5) 40px,
        rgba(0, 0, 0, 0.5) 40px,
        rgba(0, 0, 0, 0.5) 80px
      );
      text-align: center;
}
.under_construction h3 {
    position: absolute;
    top: 40%;
    left: 10%;
    line-height: 2em;
    background-color: var(--Tertiary);
    width: 80%;
}
.cards{
    border-left: solid 2px var(--Hero);
    grid-area: cards;
    padding: 10px;

}
.cards a {
    padding: 10px;
    height: 30px;
}

code {
  padding: 0px;
  font-family: var(--Code);
  font-size:1.2em;
}