/* Standard CSS styler used across all documents */


:root {
    /* Color Definitions defined below */
    --Primary: #7A296B;
    --2back: #E2F4A3;
    --2fore:#E2F4A3;
    --2highlight: #E2F4A3;
    --Background: #E2F4A3;
    --Tempwhite: #ffffff;
    --Tempblack: #000000;
}


.main {
    position: fixed ;
    height: 100%;
    width: 100%;
    background-color: cadetblue;
}

.menu {
    height: 100%;
    width: 20%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    color: var(--Background);
}
.header {
    height: 10%;
    min-height: 100px;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-variant: small-caps;
    background-color:var(--Primary);
}

.nav {
    flex: auto;
    width: 100%;
    padding: 10px;
    background-color: var(--Primary);
    
}

.footer {
    height: 50px;
    width: 100%;
    padding: 10px;
    background-color:var(--Primary);
}
.nav ul {
    position: relative;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.nav li {
    height: 100%;
    text-align: center;
    color:var(--Background);
}
.active {
    color: var(--Tempblack);
    background-color: var(--Tempblack);
}