/* Common Elements */
#page-wrapper {
  position: relative;
  --color-code-back: #666;
  --color-code-text: #f4f4f4;
  --font-code: monospace;
}

#page-wrapper p,ul,ol,li,code,a {
    margin: 0;
    font-size: large;
}

#page-wrapper h1,h2,h3,h4,h5,h6 {
 margin: 20px 0px 10px 0px;
 font-size: xx-large;
}

/* Navigation Elements */
#navbar {
  margin: 10px;
  height: 100vh;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  padding: 0px 20px;
  background-color: ivory;
}
#nav-header {
}
.nav-title {
}
.nav-link {
    display: block;
}

/* Documentation Elements */
#main-doc {
  background-color: khaki;
  position: absolute;
  left: 300px;
  overflow-y: auto;
}
.main-section {
    padding: 0px 20px;
}
.section-header {
    margin-top: 40px;
}
.section-title {
}
.section-text {
    margin-bottom: 5px;
}
.section-code {
    width: 80%;
    margin-bottom: 1.5em;
    margin-left: 10%;
    padding: 10px;
    
    background-color: var(--color-code-back);
    color: var(--color-code-text);
    font-family: var(--font-code);
    border: 1px solid #ddd;
    line-height: 1.6;
    display: block;
}
.section-ul {
    margin-bottom: 10px;
}
.section-ol {
    margin-bottom: 10px;
}
.section-li {
    margin-bottom: 5px;
}
